.footer {
  display: flex;
  width: 100%;
  padding: 0 20px;
  gap: 24px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  opacity: 0.3;
  margin-top: auto;
}

.footer a {
  font-family: var(--font-family);
  font-weight: 200;
  font-size: 13px;
  line-height: 18px;
  color: var(--color-white);
}

.footer a:hover {
  opacity: 0.8;
}

html[lang="fr"] .footer a {
  font-size: 10px;
  line-height: 12px;
}

html[lang="pt"] .footer a {
  font-size: 12px;
  line-height: 16px;
}

html[lang="de"] .footer a {
  font-size: 9px;
  line-height: 13px;
}

html[lang="es"] .footer a {
  font-size: 11px;
  line-height: 13px;
}

/* iPhone SE / 8 / 8+ */
@media screen and (max-height: 736px) {
  .footer {
    padding-bottom: calc(8px + env(safe-area-inset-bottom, 0px));
  }
}
