html {
  height: 100%;
  background-image: image-set(
    url("../../assets/images/bg.webp") 1x,
    url("../../assets/images/bg@2x.webp") 2x,
    url("../../assets/images/bg@3x.webp") 3x
  );
  background-color: var(--color-black-cell);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
  padding: 0;
  margin: 0;
}

body {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  font-family: "SF Pro Display", -apple-system, BlinkMacSystemFont, sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  overflow: hidden;

  background: transparent;

  padding-top: env(safe-area-inset-top, 0px);
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 10px 24px 25px 24px;
  width: 100%;
  position: relative;
}

.close-btn {
  position: absolute;
  /* top: calc(10px + env(safe-area-inset-top, 0px));  */
  left: 24px;
  top: 5%;
  z-index: 10;
}

/* iPhone SE / 8 / 8+  */
@media screen and (max-height: 736px) {
  html {
    background-position: center -30px;
  }
}

/* iPhone X */
@media screen and (min-height: 812px) and (max-height: 830px) {
  html {
    background-position: center top;
  }
}
