body {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px 24px;

  font-family: "SF Pro Display", -apple-system, BlinkMacSystemFont, sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;

  /* Body background styles */

  background-image: image-set(
    url("../../assets/images/bg.webp") 1x,
    url("../../assets/images/bg@2x.webp") 2x,
    url("../../assets/images/bg@3x.webp") 3x
  );

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
}

/* iPhone SE / 8 / 8+  */
@media screen and (max-height: 736px) {
  body {
    background-position: center -30px;
  }
}

/* iPhone X */
@media screen and (min-height: 812px) and (max-height: 830px) {
  body {
    background-position: center top;
  }
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 25px;
  width: 100%;
  position: relative;
}

.close-btn {
  position: absolute;
  top: 5%;
  left: 0;
}
