body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  background-image: image-set(
    url("../../assets/images/bg.webp") 1x,
    url("../../assets/images/bg@2x.webp") 2x,
    url("../../assets/images/bg@3x.webp") 3x
  );

  background-color: var(--color-black-cell);
  background-size: cover;
  background-repeat: no-repeat;

  min-height: 100dvh;
  margin: 0;
  padding: 0;

  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
  font-family: "SF Pro Display", system-ui, sans-serif;
}

.main-content {
  flex: 1;
  width: 100%;
  padding: 0 24px 24px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
}

.close-btn {
  position: absolute;
  top: calc(10px + max(0px, env(safe-area-inset-top, 0px) - 10px));
  left: 24px;
  z-index: 10;
}

/* iPhone SE / 8 / 8+  */
@media screen and (max-height: 736px) {
  body {
    background-position: center -30px;
  }
}

/* iPhone X */
@media screen and (min-height: 812px) and (max-height: 830px) {
  body {
    background-position: center top;
  }
}
