.features {
  width: 100%;
}

.features__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.feature-card {
  flex: 1;
}

.feature-card__image-wrapper {
  position: relative;
  display: block;
  width: 100%;
}

.feature-card__image {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

.feature-card__text {
  position: absolute;
  bottom: 4%;
  left: 8%;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 12px;
  color: var(--color-white);
  text-align: left;
  width: 100%;
}

@media (max-width: 375px) and (max-height: 736px) {
  .features {
    padding: 25px 0;
    transform: none;
  }
  .features__list {
    gap: 5px;
  }
}

@media (min-width: 414px) and (max-height: 736px) {
  .features {
    padding: 20px 0;
  }
  .features__list {
    gap: 7px;
  }
}

@media (max-width: 375px) and (min-height: 737px) {
  .features {
    padding: 30px 0;
  }
  .features__list {
    gap: 5px;
  }
}

@media (min-width: 376px) and (max-width: 390px) and (min-height: 737px) {
  .features {
    padding: 40px 0;
  }
  .features__list {
    gap: 8px;
  }
}
