.features {
  width: 100%;
}

.features__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}

.feature-card {
  flex: 1;
}

.feature-card__image-wrapper {
  position: relative;
  display: block;
  width: 100%;
}

.feature-card__image {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

.feature-card__text {
  position: absolute;
  bottom: 4%;
  left: 8%;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  color: var(--color-white);
  text-align: left;
  width: 100%;
}

@media screen and (max-height: 700px) {
  .features {
    padding: 20px 0;
  }
  .features__list {
    gap: 5px;
  }
}

@media screen and (min-height: 701px) and (max-height: 850px) {
  .features {
    padding: 30px 0;
  }
  .features__list {
    gap: 8px;
  }
}
