.title {
  font-family: var(--font-family);
  font-weight: 900;
  font-size: 42px;
  line-height: 46px;
  color: var(--color-white);
  text-align: center;
  text-shadow: 0 0 48px 0 rgba(4, 3, 26, 0.83);
}
