@font-face {
  font-family: "SF Pro Display";
  src: url("../../assets/fonts/SFProDisplay-Heavy.woff2") format("woff2");
  font-style: normal;
  font-weight: 900;
  font-display: swap;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("../../assets/fonts/SFProDisplay-Semibold.woff2") format("woff2");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("../../assets/fonts/SFProDisplay-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../../assets/fonts/Roboto-Bold.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("../../assets/fonts/SFProDisplay-Ultralight.woff2") format("woff2");
  font-style: normal;
  font-weight: 200;
  font-display: swap;
}
