* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  border: none;
  appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100dvh;
  min-height: 100dvh;
  overflow: hidden;
}
