* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100dvh;
  overscroll-behavior: none;
}

a {
  border: none;
  appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
}
