* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  border: none;
  appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
}

html,
body {
  overflow: hidden;
  overscroll-behavior: none;
  height: 100%;
  min-height: 100%;
}
