:root {
  --font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    sans-serif;
  --font2: "Roboto", sans-serif;

  --color-white: #fff;
  --color-black-button: #070b33;
  --color-black-cell: #141131;
  --color-tariff: rgba(255, 255, 255, 0.1);
  --color-tariff-active: rgba(255, 255, 255, 0.3);
}
